
# Verification

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**verified** | **kotlin.Boolean** |  | 
**reason** | **kotlin.String** |  | 
**payload** | **kotlin.String** |  | 
**signature** | **kotlin.String** |  | 



