/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.BasicError
import org.openapitools.client.models.CodeScanningAlert
import org.openapitools.client.models.CodeScanningAlertInstance
import org.openapitools.client.models.CodeScanningAlertItems
import org.openapitools.client.models.CodeScanningAlertSeverity
import org.openapitools.client.models.CodeScanningAlertStateQuery
import org.openapitools.client.models.CodeScanningAnalysis
import org.openapitools.client.models.CodeScanningAnalysisDeletion
import org.openapitools.client.models.CodeScanningCodeqlDatabase
import org.openapitools.client.models.CodeScanningDefaultSetup
import org.openapitools.client.models.CodeScanningDefaultSetupUpdate
import org.openapitools.client.models.CodeScanningDefaultSetupUpdateResponse
import org.openapitools.client.models.CodeScanningOrganizationAlertItems
import org.openapitools.client.models.CodeScanningSarifsReceipt
import org.openapitools.client.models.CodeScanningSarifsStatus
import org.openapitools.client.models.CodeScanningUpdateAlertRequest
import org.openapitools.client.models.CodeScanningUploadSarifRequest

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    open class CodeScanningApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * Delete a code scanning analysis from a repository
        * Deletes a specified code scanning analysis from a repository.  You can delete one analysis at a time. To delete a series of analyses, start with the most recent analysis and work backwards. Conceptually, the process is similar to the undo function in a text editor.  When you list the analyses for a repository, one or more will be identified as deletable in the response:  &#x60;&#x60;&#x60; \&quot;deletable\&quot;: true &#x60;&#x60;&#x60;  An analysis is deletable when it&#39;s the most recent in a set of analyses. Typically, a repository will have multiple sets of analyses for each enabled code scanning tool, where a set is determined by a unique combination of analysis values:  * &#x60;ref&#x60; * &#x60;tool&#x60; * &#x60;category&#x60;  If you attempt to delete an analysis that is not the most recent in a set, you&#39;ll get a 400 response with the message:  &#x60;&#x60;&#x60; Analysis specified is not deletable. &#x60;&#x60;&#x60;  The response from a successful &#x60;DELETE&#x60; operation provides you with two alternative URLs for deleting the next analysis in the set: &#x60;next_analysis_url&#x60; and &#x60;confirm_delete_url&#x60;. Use the &#x60;next_analysis_url&#x60; URL if you want to avoid accidentally deleting the final analysis in a set. This is a useful option if you want to preserve at least one analysis for the specified tool in your repository. Use the &#x60;confirm_delete_url&#x60; URL if you are content to remove all analyses for a tool. When you delete the last analysis in a set, the value of &#x60;next_analysis_url&#x60; and &#x60;confirm_delete_url&#x60; in the 200 response is &#x60;null&#x60;.  As an example of the deletion process, let&#39;s imagine that you added a workflow that configured a particular code scanning tool to analyze the code in a repository. This tool has added 15 analyses: 10 on the default branch, and another 5 on a topic branch. You therefore have two separate sets of analyses for this tool. You&#39;ve now decided that you want to remove all of the analyses for the tool. To do this you must make 15 separate deletion requests. To start, you must find an analysis that&#39;s identified as deletable. Each set of analyses always has one that&#39;s identified as deletable. Having found the deletable analysis for one of the two sets, delete this analysis and then continue deleting the next analysis in the set until they&#39;re all deleted. Then repeat the process for the second set. The procedure therefore consists of a nested loop:  **Outer loop**: * List the analyses for the repository, filtered by tool. * Parse this list to find a deletable analysis. If found:    **Inner loop**:   * Delete the identified analysis.   * Parse the response for the value of &#x60;confirm_delete_url&#x60; and, if found, use this in the next iteration.  The above process assumes that you want to remove all trace of the tool&#39;s analyses from the GitHub user interface, for the specified repository, and it therefore uses the &#x60;confirm_delete_url&#x60; value. Alternatively, you could use the &#x60;next_analysis_url&#x60; value, which would leave the last analysis in each set undeleted to avoid removing a tool&#39;s analysis entirely.  OAuth app tokens and personal access tokens (classic) need the &#x60;repo&#x60; scope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param owner The account owner of the repository. The name is not case sensitive. 
         * @param repo The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive. 
         * @param analysisId The ID of the analysis, as returned from the &#x60;GET /repos/{owner}/{repo}/code-scanning/analyses&#x60; operation. 
         * @param confirmDelete Allow deletion if the specified analysis is the last in a set. If you attempt to delete the final analysis in a set without setting this parameter to &#x60;true&#x60;, you&#39;ll get a 400 response with the message: &#x60;Analysis is last of its type and deletion may result in the loss of historical alert data. Please specify confirm_delete.&#x60; (optional)
         * @return CodeScanningAnalysisDeletion
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningDeleteAnalysis(owner: kotlin.String, repo: kotlin.String, analysisId: kotlin.Int, confirmDelete: kotlin.String?): HttpResponse<CodeScanningAnalysisDeletion> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            confirmDelete?.apply { localVariableQuery["confirm_delete"] = listOf("$confirmDelete") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/repos/{owner}/{repo}/code-scanning/analyses/{analysis_id}".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo").replace("{" + "analysis_id" + "}", "$analysisId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * Get a code scanning alert
        * Gets a single code scanning alert.  OAuth app tokens and personal access tokens (classic) need the &#x60;security_events&#x60; scope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param owner The account owner of the repository. The name is not case sensitive. 
         * @param repo The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive. 
         * @param alertNumber The number that identifies an alert. You can find this at the end of the URL for a code scanning alert within GitHub, and in the &#x60;number&#x60; field in the response from the &#x60;GET /repos/{owner}/{repo}/code-scanning/alerts&#x60; operation. 
         * @return CodeScanningAlert
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningGetAlert(owner: kotlin.String, repo: kotlin.String, alertNumber: kotlin.Int): HttpResponse<CodeScanningAlert> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/repos/{owner}/{repo}/code-scanning/alerts/{alert_number}".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo").replace("{" + "alert_number" + "}", "$alertNumber"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * Get a code scanning analysis for a repository
        * Gets a specified code scanning analysis for a repository.  The default JSON response contains fields that describe the analysis. This includes the Git reference and commit SHA to which the analysis relates, the datetime of the analysis, the name of the code scanning tool, and the number of alerts.  The &#x60;rules_count&#x60; field in the default response give the number of rules that were run in the analysis. For very old analyses this data is not available, and &#x60;0&#x60; is returned in this field.  This endpoint supports the following custom media types. For more information, see \&quot;[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\&quot;  - **&#x60;application/sarif+json&#x60;**: Instead of returning a summary of the analysis, this endpoint returns a subset of the analysis data that was uploaded. The data is formatted as [SARIF version 2.1.0](https://docs.oasis-open.org/sarif/sarif/v2.1.0/cs01/sarif-v2.1.0-cs01.html). It also returns additional data such as the &#x60;github/alertNumber&#x60; and &#x60;github/alertUrl&#x60; properties.  OAuth app tokens and personal access tokens (classic) need the &#x60;security_events&#x60; scope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param owner The account owner of the repository. The name is not case sensitive. 
         * @param repo The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive. 
         * @param analysisId The ID of the analysis, as returned from the &#x60;GET /repos/{owner}/{repo}/code-scanning/analyses&#x60; operation. 
         * @return CodeScanningAnalysis
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningGetAnalysis(owner: kotlin.String, repo: kotlin.String, analysisId: kotlin.Int): HttpResponse<CodeScanningAnalysis> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/repos/{owner}/{repo}/code-scanning/analyses/{analysis_id}".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo").replace("{" + "analysis_id" + "}", "$analysisId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * Get a CodeQL database for a repository
        * Gets a CodeQL database for a language in a repository.  By default this endpoint returns JSON metadata about the CodeQL database. To download the CodeQL database binary content, set the &#x60;Accept&#x60; header of the request to [&#x60;application/zip&#x60;](https://docs.github.com/rest/overview/media-types), and make sure your HTTP client is configured to follow redirects or use the &#x60;Location&#x60; header to make a second request to get the redirect URL.  OAuth app tokens and personal access tokens (classic) need the &#x60;security_events&#x60; scope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param owner The account owner of the repository. The name is not case sensitive. 
         * @param repo The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive. 
         * @param language The language of the CodeQL database. 
         * @return CodeScanningCodeqlDatabase
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningGetCodeqlDatabase(owner: kotlin.String, repo: kotlin.String, language: kotlin.String): HttpResponse<CodeScanningCodeqlDatabase> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/repos/{owner}/{repo}/code-scanning/codeql/databases/{language}".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo").replace("{" + "language" + "}", "$language"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * Get a code scanning default setup configuration
        * Gets a code scanning default setup configuration.  OAuth app tokens and personal access tokens (classic) need the &#x60;repo&#x60; scope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param owner The account owner of the repository. The name is not case sensitive. 
         * @param repo The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive. 
         * @return CodeScanningDefaultSetup
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningGetDefaultSetup(owner: kotlin.String, repo: kotlin.String): HttpResponse<CodeScanningDefaultSetup> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/repos/{owner}/{repo}/code-scanning/default-setup".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * Get information about a SARIF upload
        * Gets information about a SARIF upload, including the status and the URL of the analysis that was uploaded so that you can retrieve details of the analysis. For more information, see \&quot;[Get a code scanning analysis for a repository](/rest/code-scanning/code-scanning#get-a-code-scanning-analysis-for-a-repository).\&quot; OAuth app tokens and personal access tokens (classic) need the &#x60;security_events&#x60; scope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param owner The account owner of the repository. The name is not case sensitive. 
         * @param repo The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive. 
         * @param sarifId The SARIF ID obtained after uploading. 
         * @return CodeScanningSarifsStatus
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningGetSarif(owner: kotlin.String, repo: kotlin.String, sarifId: kotlin.String): HttpResponse<CodeScanningSarifsStatus> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/repos/{owner}/{repo}/code-scanning/sarifs/{sarif_id}".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo").replace("{" + "sarif_id" + "}", "$sarifId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * List instances of a code scanning alert
        * Lists all instances of the specified code scanning alert.  OAuth app tokens and personal access tokens (classic) need the &#x60;security_events&#x60; scope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param owner The account owner of the repository. The name is not case sensitive. 
         * @param repo The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive. 
         * @param alertNumber The number that identifies an alert. You can find this at the end of the URL for a code scanning alert within GitHub, and in the &#x60;number&#x60; field in the response from the &#x60;GET /repos/{owner}/{repo}/code-scanning/alerts&#x60; operation. 
         * @param page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (optional, default to 1)
         * @param perPage The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (optional, default to 30)
         * @param ref The Git reference for the results you want to list. The &#x60;ref&#x60; for a branch can be formatted either as &#x60;refs/heads/&lt;branch name&gt;&#x60; or simply &#x60;&lt;branch name&gt;&#x60;. To reference a pull request use &#x60;refs/pull/&lt;number&gt;/merge&#x60;. (optional)
         * @return kotlin.collections.List<CodeScanningAlertInstance>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningListAlertInstances(owner: kotlin.String, repo: kotlin.String, alertNumber: kotlin.Int, page: kotlin.Int?, perPage: kotlin.Int?, ref: kotlin.String?): HttpResponse<kotlin.collections.List<CodeScanningAlertInstance>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            perPage?.apply { localVariableQuery["per_page"] = listOf("$perPage") }
            ref?.apply { localVariableQuery["ref"] = listOf("$ref") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/repos/{owner}/{repo}/code-scanning/alerts/{alert_number}/instances".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo").replace("{" + "alert_number" + "}", "$alertNumber"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * List code scanning alerts for an organization
        * Lists code scanning alerts for the default branch for all eligible repositories in an organization. Eligible repositories are repositories that are owned by organizations that you own or for which you are a security manager. For more information, see \&quot;[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization).\&quot;  The authenticated user must be an owner or security manager for the organization to use this endpoint.  OAuth app tokens and personal access tokens (classic) need the &#x60;security_events&#x60; or &#x60;repo&#x60;s cope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param org The organization name. The name is not case sensitive. 
         * @param toolName The name of a code scanning tool. Only results by this tool will be listed. You can specify the tool by using either &#x60;tool_name&#x60; or &#x60;tool_guid&#x60;, but not both. (optional)
         * @param toolGuid The GUID of a code scanning tool. Only results by this tool will be listed. Note that some code scanning tools may not include a GUID in their analysis data. You can specify the tool by using either &#x60;tool_guid&#x60; or &#x60;tool_name&#x60;, but not both. (optional)
         * @param before A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results before this cursor. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (optional)
         * @param after A cursor, as given in the [Link header](https://docs.github.com/rest/guides/using-pagination-in-the-rest-api#using-link-headers). If specified, the query only searches for results after this cursor. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (optional)
         * @param page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (optional, default to 1)
         * @param perPage The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (optional, default to 30)
         * @param direction The direction to sort the results by. (optional, default to desc)
         * @param state If specified, only code scanning alerts with this state will be returned. (optional)
         * @param sort The property by which to sort the results. (optional, default to created)
         * @param severity If specified, only code scanning alerts with this severity will be returned. (optional)
         * @return kotlin.collections.List<CodeScanningOrganizationAlertItems>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningListAlertsForOrg(org: kotlin.String, toolName: kotlin.String?, toolGuid: kotlin.String?, before: kotlin.String?, after: kotlin.String?, page: kotlin.Int?, perPage: kotlin.Int?, direction: kotlin.String?, state: CodeScanningAlertStateQuery?, sort: kotlin.String?, severity: CodeScanningAlertSeverity?): HttpResponse<kotlin.collections.List<CodeScanningOrganizationAlertItems>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            toolName?.apply { localVariableQuery["tool_name"] = listOf("$toolName") }
            toolGuid?.apply { localVariableQuery["tool_guid"] = listOf("$toolGuid") }
            before?.apply { localVariableQuery["before"] = listOf("$before") }
            after?.apply { localVariableQuery["after"] = listOf("$after") }
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            perPage?.apply { localVariableQuery["per_page"] = listOf("$perPage") }
            direction?.apply { localVariableQuery["direction"] = listOf("$direction") }
            state?.apply { localVariableQuery["state"] = listOf("$state") }
            sort?.apply { localVariableQuery["sort"] = listOf("$sort") }
            severity?.apply { localVariableQuery["severity"] = listOf("$severity") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/orgs/{org}/code-scanning/alerts".replace("{" + "org" + "}", "$org"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * List code scanning alerts for a repository
        * Lists code scanning alerts.  The response includes a &#x60;most_recent_instance&#x60; object. This provides details of the most recent instance of this alert for the default branch (or for the specified Git reference if you used &#x60;ref&#x60; in the request).  OAuth app tokens and personal access tokens (classic) need the &#x60;security_events&#x60; scope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param owner The account owner of the repository. The name is not case sensitive. 
         * @param repo The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive. 
         * @param toolName The name of a code scanning tool. Only results by this tool will be listed. You can specify the tool by using either &#x60;tool_name&#x60; or &#x60;tool_guid&#x60;, but not both. (optional)
         * @param toolGuid The GUID of a code scanning tool. Only results by this tool will be listed. Note that some code scanning tools may not include a GUID in their analysis data. You can specify the tool by using either &#x60;tool_guid&#x60; or &#x60;tool_name&#x60;, but not both. (optional)
         * @param page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (optional, default to 1)
         * @param perPage The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (optional, default to 30)
         * @param ref The Git reference for the results you want to list. The &#x60;ref&#x60; for a branch can be formatted either as &#x60;refs/heads/&lt;branch name&gt;&#x60; or simply &#x60;&lt;branch name&gt;&#x60;. To reference a pull request use &#x60;refs/pull/&lt;number&gt;/merge&#x60;. (optional)
         * @param direction The direction to sort the results by. (optional, default to desc)
         * @param sort The property by which to sort the results. (optional, default to created)
         * @param state If specified, only code scanning alerts with this state will be returned. (optional)
         * @param severity If specified, only code scanning alerts with this severity will be returned. (optional)
         * @return kotlin.collections.List<CodeScanningAlertItems>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningListAlertsForRepo(owner: kotlin.String, repo: kotlin.String, toolName: kotlin.String?, toolGuid: kotlin.String?, page: kotlin.Int?, perPage: kotlin.Int?, ref: kotlin.String?, direction: kotlin.String?, sort: kotlin.String?, state: CodeScanningAlertStateQuery?, severity: CodeScanningAlertSeverity?): HttpResponse<kotlin.collections.List<CodeScanningAlertItems>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            toolName?.apply { localVariableQuery["tool_name"] = listOf("$toolName") }
            toolGuid?.apply { localVariableQuery["tool_guid"] = listOf("$toolGuid") }
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            perPage?.apply { localVariableQuery["per_page"] = listOf("$perPage") }
            ref?.apply { localVariableQuery["ref"] = listOf("$ref") }
            direction?.apply { localVariableQuery["direction"] = listOf("$direction") }
            sort?.apply { localVariableQuery["sort"] = listOf("$sort") }
            state?.apply { localVariableQuery["state"] = listOf("$state") }
            severity?.apply { localVariableQuery["severity"] = listOf("$severity") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/repos/{owner}/{repo}/code-scanning/alerts".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * List CodeQL databases for a repository
        * Lists the CodeQL databases that are available in a repository.  OAuth app tokens and personal access tokens (classic) need the &#x60;security_events&#x60; scope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param owner The account owner of the repository. The name is not case sensitive. 
         * @param repo The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive. 
         * @return kotlin.collections.List<CodeScanningCodeqlDatabase>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningListCodeqlDatabases(owner: kotlin.String, repo: kotlin.String): HttpResponse<kotlin.collections.List<CodeScanningCodeqlDatabase>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/repos/{owner}/{repo}/code-scanning/codeql/databases".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * List code scanning analyses for a repository
        * Lists the details of all code scanning analyses for a repository, starting with the most recent. The response is paginated and you can use the &#x60;page&#x60; and &#x60;per_page&#x60; parameters to list the analyses you&#39;re interested in. By default 30 analyses are listed per page.  The &#x60;rules_count&#x60; field in the response give the number of rules that were run in the analysis. For very old analyses this data is not available, and &#x60;0&#x60; is returned in this field.  **Deprecation notice**: The &#x60;tool_name&#x60; field is deprecated and will, in future, not be included in the response for this endpoint. The example response reflects this change. The tool name can now be found inside the &#x60;tool&#x60; field.  OAuth app tokens and personal access tokens (classic) need the &#x60;security_events&#x60; scope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param owner The account owner of the repository. The name is not case sensitive. 
         * @param repo The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive. 
         * @param toolName The name of a code scanning tool. Only results by this tool will be listed. You can specify the tool by using either &#x60;tool_name&#x60; or &#x60;tool_guid&#x60;, but not both. (optional)
         * @param toolGuid The GUID of a code scanning tool. Only results by this tool will be listed. Note that some code scanning tools may not include a GUID in their analysis data. You can specify the tool by using either &#x60;tool_guid&#x60; or &#x60;tool_name&#x60;, but not both. (optional)
         * @param page The page number of the results to fetch. For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (optional, default to 1)
         * @param perPage The number of results per page (max 100). For more information, see \&quot;[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\&quot; (optional, default to 30)
         * @param ref The Git reference for the analyses you want to list. The &#x60;ref&#x60; for a branch can be formatted either as &#x60;refs/heads/&lt;branch name&gt;&#x60; or simply &#x60;&lt;branch name&gt;&#x60;. To reference a pull request use &#x60;refs/pull/&lt;number&gt;/merge&#x60;. (optional)
         * @param sarifId Filter analyses belonging to the same SARIF upload. (optional)
         * @param direction The direction to sort the results by. (optional, default to desc)
         * @param sort The property by which to sort the results. (optional, default to created)
         * @return kotlin.collections.List<CodeScanningAnalysis>
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningListRecentAnalyses(owner: kotlin.String, repo: kotlin.String, toolName: kotlin.String?, toolGuid: kotlin.String?, page: kotlin.Int?, perPage: kotlin.Int?, ref: kotlin.String?, sarifId: kotlin.String?, direction: kotlin.String?, sort: kotlin.String?): HttpResponse<kotlin.collections.List<CodeScanningAnalysis>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            toolName?.apply { localVariableQuery["tool_name"] = listOf("$toolName") }
            toolGuid?.apply { localVariableQuery["tool_guid"] = listOf("$toolGuid") }
            page?.apply { localVariableQuery["page"] = listOf("$page") }
            perPage?.apply { localVariableQuery["per_page"] = listOf("$perPage") }
            ref?.apply { localVariableQuery["ref"] = listOf("$ref") }
            sarifId?.apply { localVariableQuery["sarif_id"] = listOf("$sarifId") }
            direction?.apply { localVariableQuery["direction"] = listOf("$direction") }
            sort?.apply { localVariableQuery["sort"] = listOf("$sort") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/repos/{owner}/{repo}/code-scanning/analyses".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * Update a code scanning alert
        * Updates the status of a single code scanning alert. OAuth app tokens and personal access tokens (classic) need the &#x60;security_events&#x60; scope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param owner The account owner of the repository. The name is not case sensitive. 
         * @param repo The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive. 
         * @param alertNumber The number that identifies an alert. You can find this at the end of the URL for a code scanning alert within GitHub, and in the &#x60;number&#x60; field in the response from the &#x60;GET /repos/{owner}/{repo}/code-scanning/alerts&#x60; operation. 
         * @param codeScanningUpdateAlertRequest  
         * @return CodeScanningAlert
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningUpdateAlert(owner: kotlin.String, repo: kotlin.String, alertNumber: kotlin.Int, codeScanningUpdateAlertRequest: CodeScanningUpdateAlertRequest): HttpResponse<CodeScanningAlert> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = codeScanningUpdateAlertRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/repos/{owner}/{repo}/code-scanning/alerts/{alert_number}".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo").replace("{" + "alert_number" + "}", "$alertNumber"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * Update a code scanning default setup configuration
        * Updates a code scanning default setup configuration.  OAuth app tokens and personal access tokens (classic) need the &#x60;repo&#x60; scope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param owner The account owner of the repository. The name is not case sensitive. 
         * @param repo The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive. 
         * @param codeScanningDefaultSetupUpdate  
         * @return kotlin.Any
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningUpdateDefaultSetup(owner: kotlin.String, repo: kotlin.String, codeScanningDefaultSetupUpdate: CodeScanningDefaultSetupUpdate): HttpResponse<kotlin.Any> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = codeScanningDefaultSetupUpdate

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/repos/{owner}/{repo}/code-scanning/default-setup".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * Upload an analysis as SARIF data
        * Uploads SARIF data containing the results of a code scanning analysis to make the results available in a repository. For troubleshooting information, see \&quot;[Troubleshooting SARIF uploads](https://docs.github.com/code-security/code-scanning/troubleshooting-sarif).\&quot;  There are two places where you can upload code scanning results.  - If you upload to a pull request, for example &#x60;--ref refs/pull/42/merge&#x60; or &#x60;--ref refs/pull/42/head&#x60;, then the results appear as alerts in a pull request check. For more information, see \&quot;[Triaging code scanning alerts in pull requests](/code-security/secure-coding/triaging-code-scanning-alerts-in-pull-requests).\&quot;  - If you upload to a branch, for example &#x60;--ref refs/heads/my-branch&#x60;, then the results appear in the **Security** tab for your repository. For more information, see \&quot;[Managing code scanning alerts for your repository](/code-security/secure-coding/managing-code-scanning-alerts-for-your-repository#viewing-the-alerts-for-a-repository).\&quot;  You must compress the SARIF-formatted analysis data that you want to upload, using &#x60;gzip&#x60;, and then encode it as a Base64 format string. For example:  &#x60;&#x60;&#x60; gzip -c analysis-data.sarif | base64 -w0 &#x60;&#x60;&#x60;  SARIF upload supports a maximum number of entries per the following data objects, and an analysis will be rejected if any of these objects is above its maximum value. For some objects, there are additional values over which the entries will be ignored while keeping the most important entries whenever applicable. To get the most out of your analysis when it includes data above the supported limits, try to optimize the analysis configuration. For example, for the CodeQL tool, identify and remove the most noisy queries. For more information, see \&quot;[SARIF results exceed one or more limits](https://docs.github.com/code-security/code-scanning/troubleshooting-sarif/results-exceed-limit).\&quot;   | **SARIF data**                   | **Maximum values** | **Additional limits**                                                            | |----------------------------------|:------------------:|----------------------------------------------------------------------------------| | Runs per file                    |         20         |                                                                                  | | Results per run                  |       25,000       | Only the top 5,000 results will be included, prioritized by severity.            | | Rules per run                    |       25,000       |                                                                                  | | Tool extensions per run          |        100         |                                                                                  | | Thread Flow Locations per result |       10,000       | Only the top 1,000 Thread Flow Locations will be included, using prioritization. | | Location per result              |       1,000        | Only 100 locations will be included.                                             | | Tags per rule                    |         20         | Only 10 tags will be included.                                                   |   The &#x60;202 Accepted&#x60; response includes an &#x60;id&#x60; value. You can use this ID to check the status of the upload by using it in the &#x60;/sarifs/{sarif_id}&#x60; endpoint. For more information, see \&quot;[Get information about a SARIF upload](/rest/code-scanning/code-scanning#get-information-about-a-sarif-upload).\&quot;  OAuth app tokens and personal access tokens (classic) need the &#x60;security_events&#x60; scope to use this endpoint with private or public repositories, or the &#x60;public_repo&#x60; scope to use this endpoint with only public repositories.
         * @param owner The account owner of the repository. The name is not case sensitive. 
         * @param repo The name of the repository without the &#x60;.git&#x60; extension. The name is not case sensitive. 
         * @param codeScanningUploadSarifRequest  
         * @return CodeScanningSarifsReceipt
        */
            @Suppress("UNCHECKED_CAST")
        open suspend fun codeScanningUploadSarif(owner: kotlin.String, repo: kotlin.String, codeScanningUploadSarifRequest: CodeScanningUploadSarifRequest): HttpResponse<CodeScanningSarifsReceipt> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = codeScanningUploadSarifRequest

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/repos/{owner}/{repo}/code-scanning/sarifs".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
